{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
{% include 'mainapp/navbar.html' %}
<br><br><br><br>
<!-- --------------------BOOTSTRAP BLOG TEMPLATE------------------- -->

    <div class="container">


  <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-12 px-0">
      <h4 class="display-8 text-center"><b>{{the_post.title|upper}}</b></h4>
      <p class="lead my-3">Challenge Owner: <b>{{the_post.offered_by}}</b></p>
      <p class="lead my-3">Targeted Audience: <b>{{the_post.targeted_audience}}</b></p>
      <p class="lead my-3">Point of Contact: <b>{{the_post.point_of_contact}}</b></p>
      <p class="lead my-3"><b>Award: <b>{{the_post.prize}}</b></b></p>
      <p class="lead my-3">Duration: &nbsp;&nbsp;<span style="background-color: #dbdbd6; padding: 3px 8px; border-radius: 8px; color:#000">{{the_post.open_until|timeuntil:the_post.date_posted}} left</span></p>
      <p class="lead my-3" ><span style="font-size:15px; vertical-align:super">Share this post now</span> &nbsp;&nbsp;
        <a href="whatsapp://send?text=https://beeline-challenges.com/{{the_post.get_absolute_url}}" target="_blank" style="color:#41e75f;"><i class="ri-whatsapp-line px-2" style="font-size:22px;"></i></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u=https://beeline-challenges.com/{{the_post.get_absolute_url}}" target="_blank" style="color:#4267b2;"><i class="ri-facebook-line px-2" style="font-size:22px;"></i></a>
  <a href="https://twitter.com/share?url=https://beeline-challenges.com/{{the_post.get_absolute_url}}" target="_blank" style="color:#5da9dd;"><i class="ri-twitter-line px-2" style="font-size:22px;"></i></a></p>
    </div>
  </div>
</div>
<br><br>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h3 style="text-decoration: underline;"><b>Description</b></h3>
        <p style="font-size: 18px!important;">{{the_post.description|safe}}</p>
        <br>
        <h3 style="text-decoration: underline;"><b>Who can participate</b></h3>
        <p>{{the_post.who_can_participate|safe}}</p>
        <br>
        <h3 style="text-decoration: underline;"><b>How to Participate</b></h3>
        <p>{{the_post.how_to_participate|safe}}</p>
        <br>
        <h3 style="text-decoration: underline;"><b>Additional Information</b></h3>
        <p>{{the_post.additional_information|safe}}</p>
        </div><!-- /.blog-post -->

    </div><!-- /.blog-main -->
    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4>Related Challenges</h4>
        {% for otherchallenge in allchallenges %}
          {% if otherchallenge.id != the_post.id %}
          <p class="mb-0">
            <a href="{% url 'mainapp:detail' otherchallenge.id otherchallenge.slug %}">{{otherchallenge.title}}</a></p>
        {% endif %}
        {% endfor %}
        
      </div>
    </aside><!-- /.blog-sidebar -->
  </div><!-- /.row -->
  <br><br>
  {% if the_post.external_website_url or the_post.participate_link %}
  <center>
    <a class="btn btn-success" href="{{the_post.external_website_url}}" target="_blank">
      Visit Original Site</a>&nbsp;&nbsp;
      {% if the_post.status != 'Archived' and the_post.status != 'In Progress' %}
      <a class="btn btn-primary" href="{{the_post.participate_link}}" target="_blank">Participate</a>
      {% endif %}  
    </center>
  {% endif %}
</main><!-- /.container -->
<br><br>

{% endblock %}
